@model SearchViewModel

<h3>Search Results</h3>

<h4 class="mt-4">Books</h4>
<div class="row">
    @if (Model.Books.Any())
    {
        @foreach (var book in Model.Books)
        {
            <div class="content">
                
                <div class="col-md-4">
                        <a asp-action="Details" asp-controller="Book" asp-route-id="@book.Id">
                            <img
                                src="https://picsum.photos/id/@book.Id/300"
                                class="card-img-top"
                                alt="..."
                                style="width:240px; height:200px"
                                >
                        </a>
                        </div>
                         <div class="col-md-8">
                          <a asp-action="Details" asp-controller="Book" asp-route-id="@book.Id"                
                          >
                            <div>
                             @book.Title
                            </div>
                             <div>
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                            </a>
                        </div>                        
                    </div>            
        }
    }
    else
    {
        <p>No books found.</p>
    }
</div>

<h4 class="mt-4">Authors</h4>
<div class="row">
    @if (Model.Authors.Any())
    {
        @foreach (var author in Model.Authors)
        {    
            <div class="content">
                <div class="col-md-4">
                <a asp-action="Details"  asp-controller="Author"asp-route-id="@author.Id">
                        <img
                        src="https://picsum.photos/id/@author.Id/300"
                        class="card-img-top"
                        alt="..."
                        style="width:240px;     height:200px"
                        >
                        </a>
                    </div>    
                    <div class="col-md-8">
                        <a asp-action="Details" asp-controller="Author" asp-route-id="@author.Id"                
                    >
                    <div>
                        @author.FullName
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </div>
                    </a>
                </div>                        
            </div>        
            
        }
    }
    else
    {
        <p>No authors found.</p>
    }
</div>

<h4 class="mt-4">Genres</h4>
<div class="row">
    @if (Model.Genres.Any())
    {
        @foreach (var genre in Model.Genres)
        {
            <div class="content">
                <div class="col-md-4">
                <a >
                        <img
                        src="https://picsum.photos/id/@genre.Id/300"
                        class="card-img-top"
                        alt="..."
                        style="width:240px;     height:200px"
                        >
                        </a>
                    </div>    
                    <div class="col-md-8">
                        <a               
                    >
                    <div>
                        @genre.Name
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </div>
                    </a>
                </div>                        
            </div>              
        }
    }
    else
    {
        <p>No genres found.</p>
    }
</div>